html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: auto;
  background-color: #282828;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
  }
}

@media screen and (max-width: 512px) {
  .container {
    width: 100vw;
  }
}